@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@import "_mixins.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bg-color-dark !important;
}
.header {
    padding: 13px 0;
    height: 60px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background: $bg-color-main;
    .header-logo {
        a {
            display: inline-block;
            height: 34px;
            img {
                height: 100%;
                width: auto;
                margin-right: 10px;
            }
        }
    }
    .header-browser {
        cursor: pointer;
        background: $bg-main-fading;
        margin: 0;
        @include border-box(5px);
        @include d-flex(center, center, none);
        #check {
            display: none;
        }
        #check:checked ~ .sidebar__menu {
            right: 80%;
            top: 60px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            @include responsive(mobile) {
                right: 60%;
            }
            @include responsive(tablet) {
                right: 60%;
            }
        }
        .sidebar__menu {
            position: fixed;
            right: 200%;
            width: 20%;
            height: 100%;
            z-index: 101;
            top: 60px;
            background: $bg-main-sidebar;
            transition: ease-in-out 0.3s;
            padding: 30px;
            @include responsive(mobile) {
                padding: 15px;
                width: 40%;
            }
            @include responsive(tablet) {
                padding: 20px;
                width: 40%;
            }
            .sidebar__menu--list {
                list-style: none;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                .list-item {
                    display: block;
                    margin-bottom: 20px;
                    padding: 5px 0;
                    @include d-flex(flex-start, center, row);
                    @include responsive(mobile) {
                        margin-bottom: 10px;
                    }
                    @include responsive(tablet) {
                        margin-bottom: 15px;
                    }
                    .list-item__icon {
                        width: 30px;
                        margin-right: 10px;
                        i {
                            color: $text-color-white;
                        }
                    }
                    a {
                        text-decoration: inherit;
                        font-size: $font-size-l;
                        font-weight: 500;
                        color: $text-color-white;
                        @include responsive(mobile) {
                            font-size: $font-size-s;
                        }
                        @include responsive(tablet) {
                            font-size: $font-size-l;
                        }
                    }
                }
                .list-item__space {
                    h5 {
                        color: $text-color-white;
                        font-weight: 300;
                        margin: 20px 0;
                        font-size: $font-size-4xl;
                        @include responsive(mobile) {
                            font-size: $font-size-3xl;
                        }
                        @include responsive(tablet) {
                            font-size: $font-size-4xl;
                        }
                    }
                    .sidebar__genre {
                        .sidebar__genre--list {
                            padding-left: 0;
                            .list-item--genre {
                                margin-right: 5px;
                                margin-bottom: 5px;
                                padding: 5px 10px;
                                @include responsive(mobile) {
                                    padding: 2px 5px;
                                }
                                @include responsive(tablet) {
                                    padding: 4px 8px;
                                }
                                a {
                                    text-decoration: inherit;
                                    font-weight: 300;
                                    font-size: $font-size-l;
                                    color: $text-color-white;
                                    @include responsive(mobile) {
                                        font-size: $font-size-s;
                                    }
                                    @include responsive(tablet) {
                                        font-size: $font-size-xl;
                                    }
                                    &:hover {
                                        color: $text-color-dark;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-browser__btn {
            @include d-flex(center, center, row);
            i {
                font-size: $font-size-xl;
                color: $text-color-white;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-xl;
                }
            }
            p {
                font-size: $font-size-xl;
                margin: 0 0 0 10px;
                color: $text-color-white;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-xl;
                }
            }
        }
    }
    .header-search {
        .header-search__box {
            width: 100%;
            height: 100%;
            background: $bg-color-white;
            @include border-box(5px);
            @include d-flex(flex-start, center, none);
            i {
                font-size: $font-size-xl;
                margin-left: 15px;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                    margin-left: 10px;
                }
                @include responsive(tablet) {
                    font-size: $font-size-xl;
                    margin-left: 12px;
                }
            }
            input {
                all: unset;
                width: 100%;
                margin: 0 15px;
                background: $bg-color-white;
                font-size: $font-size-xl;
                @include responsive(mobile) {
                    font-size: $font-size-s;
                    margin-left: 10px;
                    margin: 0 10px;
                }
                @include responsive(tablet) {
                    font-size: $font-size-l;
                    margin-left: 10px;
                    margin: 0 10px;
                }
            }
        }
    }
    .header-author {
        cursor: pointer;
        @include d-flex(flex-end, center, none);
        .header-author__box {
            @include d-flex(center, center, none);
            i {
                font-size: $font-size-xl;
                color: $text-color-white;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-xl;
                }
            }
            p {
                font-size: $font-size-xl;
                margin: 0 0 0 10px;
                color: $text-color-white;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-l;
                }
            }
        }
    }
}
.slide-ad {
    margin-top: 85px;
}
.trending {
    margin-top: 85px;
    @include responsive(mobile) {
        margin-top: 40px;
    }
    @include responsive(tablet) {
        margin-top: 40px;
    }
    .trending-type {
        margin-bottom: 20px;
        .trending-type__title {
            border-left: 5px solid $border-color-turquoise;
            h2 {
                color: $text-color-white;
                font-size: $font-size-4xl;
                margin: 0;
                @include responsive(mobile) {
                    font-size: $font-size-xl;
                }
                @include responsive(tablet) {
                    font-size: $font-size-2xl;
                }
            }
        }
        .trending-type__movies {
            color: $text-color-white;
            @include d-flex(flex-start, center, none);
            i {
                color: $text-color-turquoise;
                font-size: $font-size-xl;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-l;
                }
            }
            h6 {
                color: $text-color-turquoise;
                margin: 0 20px;
                font-weight: 100;
                font-size: $font-size-xl;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                    margin: 0 10px;
                }
                @include responsive(mobile) {
                    font-size: $font-size-l;
                    margin: 0 15px;
                }
            }
        }
        .trending-type__tv {
            color: $text-color-white;
            @include d-flex(flex-start, center, none);
            i {
                font-size: $font-size-xl;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-l;
                }
            }
            h6 {
                margin: 0 20px;
                font-weight: 100;
                font-size: $font-size-xl;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                    margin: 0 10px;
                }
                @include responsive(mobile) {
                    font-size: $font-size-l;
                    margin: 0 15px;
                }
            }
        }
    }
    .trending-movies {
        .trending-movies__item {
            background: rgba(255, 255, 255, 0.05);
            margin: 0 0.75% 30px;
            position: relative;
            .movies__item--picture {
                width: 100%;
                padding-bottom: 150%;
                position: relative;
                overflow: hidden;
                border-radius: 0;
                a {
                    display: block;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .movies__item--detail {
                padding: 10px;
                @include responsive(mobile) {
                    padding: 8px;
                }
                .detail-infor {
                    color: #aaa;
                    height: 20px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    .detail-infor__item:not(:last-child) {
                        margin-right: 10px;
                        i {
                            color: $text-color-turquoise;
                            position: relative;
                            top: -1px;
                        }
                    }
                    .detail-infor__item {
                        font-size: $font-size-l;
                        @include responsive(mobile) {
                            font-size: $font-size-s;
                        }
                    }
                }
                .detail-name {
                    color: $text-color-white;
                    font-size: $font-size-xl;
                    margin-bottom: 10px;
                    height: 35px;
                    overflow: hidden;
                    cursor: pointer;
                    @include responsive(mobile) {
                        font-size: $font-size-l;
                        height: 18px;
                    }
                    &:hover {
                        color: $text-color-turquoise;
                    }
                }
                .detail-btn {
                    a {
                        @include d-flex(center, center, none);
                        i {
                            font-size: $font-size-l;
                            @include responsive(mobile) {
                                font-size: $font-size-s;
                            }
                        }
                        span {
                            margin-left: 10px;
                            font-size: $font-size-l;
                            @include responsive(mobile) {
                                font-size: $font-size-s;
                            }
                        }
                    }
                }
            }
        }
    }
}
footer {
    padding: 20px;
    .footer-top {
        margin-top: 85px;
        @include responsive(mobile) {
            margin-top: 0px;
        }
        .footer-top__item {
            text-align: center;
            a {
                font-size: $font-size-2xl;
                text-decoration: inherit;
                color: $text-color-white;
                @include responsive(mobile) {
                    font-size: $font-size-l;
                }
                @include responsive(tablet) {
                    font-size: $font-size-xl;
                }
            }
        }
    }
    .footer-middle {
        margin-top: 20px;
        text-align: center;
        p {
            font-size: $font-size-xl;
            color: $text-color-silver;
            font-weight: 300;
            margin: 0 30px;
            @include responsive(mobile) {
                font-size: $font-size-s;
            }
            @include responsive(tablet) {
                font-size: $font-size-l;
            }
        }
    }
}

.error {
    color: $text-color-white;
    font-size: $font-size-4xl;
    @include responsive(mobile) {
        font-size: $font-size-2xl;
    }
    @include responsive(tablet) {
        font-size: $font-size-3xl;
    }
}
