- const title = "Pug/Sass"
- 
    const header_title = 
        {
            home: "Home",
            movies: "Movies", 
            tv: "TV Shows",
            imdb: "Top IMDB", 
            app: "Android App",
            genre: "Genre",
            browser: "Browser",
            login: "Login"
        }
- 
    const sidebar = 
        {
            pre: "Previous",
            next: "Next",
        }
- 
    const trending = 
        {
            title: "Trending",
            typeMovies: "Movies",
            typeTv: "TV Shows",
            button: "Watch now"
        }
- 
    const footer = 
        {
            top_line1: "Android App",
            top_line2: "Terms of service",
            top_line3: "Contact",
            top_line4: "Sitemap",
            mid_line1: "SFlix is a Free Movies streaming site with zero ads. We let you watch movies online without having to register or paying, with over 10000 movies and TV-Series. You can also Download full movies from MoviesCloud and watch it later if you want.",
            mid_line2: "© SFlix",
        }