- const title = "Pug/Sass"
- const browser = "Browser"
- const genre = "Genre"
- const login = "Login"
- const header_title_home = "Home"
- const header_title_movies = "Movies"
- const header_title_tv = "TV Shows"
- const header_title_imdb = "Top IMDB"
- const header_title_app = "Android App"
- const trending_title = "Trending"
- const trending_typeMovies = "Movies"
- const trending_typeTv = "TV Shows"
- const trending_button = "Watch now"
- const footer_top_line1 = "Android App"
- const footer_top_line2 = "Terms of service"
- const footer_top_line3 = "Contact"
- const footer_top_line4 = "Sitemap"
- const footer_mid_line1 = "SFlix is a Free Movies streaming site with zero ads. We let you watch movies online without having to register or paying, with over 10000 movies and TV-Series. You can also Download full movies from MoviesCloud and watch it later if you want."
- const footer_mid_line2 = "© SFlix"
- const no_data = "No data, pls F5 to reload page !!!"

