- const logo = "https://img.sflix.to/xxrz/400x400/100/66/35/66356c25ce98cb12993249e21742b129/66356c25ce98cb12993249e21742b129.png"
- const typeMovies = ["Action", "Action & Adventure", "Adventure", "Animation", "Comedy", "Crime", "Documentary", "Drama", "Family", "Fantasy", "Sci-Fi & Fantasy", "TV Movie "]
- 
  const listMoviesTrending = [
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Shang-Chi and the Legend of the Ten Rings",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/5e/2f/5e2f21999d0b6b5695d4d4d521eacac0/5e2f21999d0b6b5695d4d4d521eacac0.jpg",
    },
    {
      "name": "F9 (Fast & Furious 9)",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d0/ec/d0ec7ef079bd599580f21ed88b81eff3/d0ec7ef079bd599580f21ed88b81eff3.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Shang-Chi and the Legend of the Ten Rings",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/5e/2f/5e2f21999d0b6b5695d4d4d521eacac0/5e2f21999d0b6b5695d4d4d521eacac0.jpg",
    },
    {
      "name": "F9 (Fast & Furious 9)",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d0/ec/d0ec7ef079bd599580f21ed88b81eff3/d0ec7ef079bd599580f21ed88b81eff3.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
  ]
-
  const listMoviesPopular = [
    {
      "name": "One The Woman",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/fb/34/fb3406955f5d305bb7ce6f9cf2afc7a7/fb3406955f5d305bb7ce6f9cf2afc7a7.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "The Chosen",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f1/67/f1678376797f7478a75ea28197b058b0/f1678376797f7478a75ea28197b058b0.jpg",
    },
    {
      "name": "Top Class: The Life and Times of the Sierra Canyon Trailblazers",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/c6/14/c614af72d81e64197c7777c28af1ee6d/c614af72d81e64197c7777c28af1ee6d.jpg",
    },
    {
      "name": "The Last Drive-in With Joe Bob Briggs",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f7/01/f701ed97357b1d0a76ae8a7e7bbe9c35/f701ed97357b1d0a76ae8a7e7bbe9c35.jpg",
    },
    {
      "name": "Game of Thrones",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/88/22/8822b3a4f732a28db1d10002e6cecd23/8822b3a4f732a28db1d10002e6cecd23.jpg",
    },
    {
      "name": "Cosmos",
      "quality": "HD",
      "rating": 9.3,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/a9/fa/a9fa827bede30279b7fc5797a78c3f9a/a9fa827bede30279b7fc5797a78c3f9a.jpg",
    },
    {
      "name": "One The Woman",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/fb/34/fb3406955f5d305bb7ce6f9cf2afc7a7/fb3406955f5d305bb7ce6f9cf2afc7a7.jpg",
    },
    {
      "name": "The Chosen",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f1/67/f1678376797f7478a75ea28197b058b0/f1678376797f7478a75ea28197b058b0.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "The Chosen",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f1/67/f1678376797f7478a75ea28197b058b0/f1678376797f7478a75ea28197b058b0.jpg",
    },
    {
      "name": "Top Class: The Life and Times of the Sierra Canyon Trailblazers",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/c6/14/c614af72d81e64197c7777c28af1ee6d/c614af72d81e64197c7777c28af1ee6d.jpg",
    },
    {
      "name": "The Last Drive-in With Joe Bob Briggs",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f7/01/f701ed97357b1d0a76ae8a7e7bbe9c35/f701ed97357b1d0a76ae8a7e7bbe9c35.jpg",
    },
    {
      "name": "The Chosen",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/f1/67/f1678376797f7478a75ea28197b058b0/f1678376797f7478a75ea28197b058b0.jpg",
    },
    {
      "name": "Top Class: The Life and Times of the Sierra Canyon Trailblazers",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/c6/14/c614af72d81e64197c7777c28af1ee6d/c614af72d81e64197c7777c28af1ee6d.jpg",
    },
    {
      "name": "Top Class: The Life and Times of the Sierra Canyon Trailblazers",
      "quality": "HD",
      "rating": 9.6,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/c6/14/c614af72d81e64197c7777c28af1ee6d/c614af72d81e64197c7777c28af1ee6d.jpg",
    },
    {
      "name": "Game of Thrones",
      "quality": "HD",
      "rating": 9.8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/88/22/8822b3a4f732a28db1d10002e6cecd23/8822b3a4f732a28db1d10002e6cecd23.jpg",
    },
    {
      "name": "Cosmos",
      "quality": "HD",
      "rating": 9.3,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/a9/fa/a9fa827bede30279b7fc5797a78c3f9a/a9fa827bede30279b7fc5797a78c3f9a.jpg",
    },
  ]