- const logo = "https://img.sflix.to/xxrz/400x400/100/66/35/66356c25ce98cb12993249e21742b129/66356c25ce98cb12993249e21742b129.png"
- const typeMovies = ["Action", "Action & Adventure", "Adventure", "Animation", "Comedy", "Crime", "Documentary", "Drama", "Family", "Fantasy", "Sci-Fi & Fantasy", "TV Movie "]
- 
  const listMoviesTrending = [
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Shang-Chi and the Legend of the Ten Rings",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/5e/2f/5e2f21999d0b6b5695d4d4d521eacac0/5e2f21999d0b6b5695d4d4d521eacac0.jpg",
    },
    {
      "name": "F9 (Fast & Furious 9)",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d0/ec/d0ec7ef079bd599580f21ed88b81eff3/d0ec7ef079bd599580f21ed88b81eff3.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Shang-Chi and the Legend of the Ten Rings",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/5e/2f/5e2f21999d0b6b5695d4d4d521eacac0/5e2f21999d0b6b5695d4d4d521eacac0.jpg",
    },
    {
      "name": "F9 (Fast & Furious 9)",
      "quality": "CAM",
      "rating": 8,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d0/ec/d0ec7ef079bd599580f21ed88b81eff3/d0ec7ef079bd599580f21ed88b81eff3.jpg",
    },
    {
      "name": "Kate",
      "quality": "FHD",
      "rating": 10,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/35/69/3569dcb6b3752bfd99bb91dbbadfe692/3569dcb6b3752bfd99bb91dbbadfe692.jpg",
    },
    {
      "name": "My Son",
      "quality": "FHD",
      "rating": 8.2,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/73/76/7376a44c8c35d46641322df926cc8c47/7376a44c8c35d46641322df926cc8c47.jpg",
    },
    {
      "name": "Nightbooks",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/0a/1b/0a1b463bc0c773f7775e0ae4d0cbf929/0a1b463bc0c773f7775e0ae4d0cbf929.jpg",
    },
    {
      "name": "Prisoners of the Ghostland",
      "quality": "HD",
      "rating": 5.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/44/9a/449a96662f987171643d953d4897c574/449a96662f987171643d953d4897c574.jpg",
    },
    {
      "name": "Malignant",
      "quality": "FHD",
      "rating": 9.5,
      "year": 2021,
      "image": "https://img.sflix.to/xxrz/250x400/224/d9/08/d908ca3440b087ec4bfda3eb6e89c23e/d908ca3440b087ec4bfda3eb6e89c23e.jpg",
    },
  ]