section.movies.card
    .container
        .row.movies-type
            .col-4.col-sm-4.col-md-4.col-lg-3.movies-type__title
                h2 #{movies_page_title}
            .col-8.col-sm-8.col-md-8.col-lg-9.movies-type__icon
                a(href="#")
                    i.fas.fa-filter
        .row.popular-movies
            each movie in listMoviesPopular
                +listOfMovies(movie.image, movie.name, movie.rating, movie.quality, movie.year)
            else
                strong.error #{no_data}
        .row.pagination
            .col-12
                ul
                    li.active
                        a(href="#") 1 
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a(href="#") »