section.card
    .container
        .row.trending-type
            .col-3.col-lg-2.trending-type__title
                h2 #{trending_title}
            .col-3.col-lg-2.trending-type__movies
                i.fas.fa-play-circle
                h6 #{trending_typeMovies}
            .col-6.col-lg-8.trending-type__tv
                i.fas.fa-list-ul
                h6 #{trending_typeTv}
        .row.trending-movies
            each movie in listMoviesTrending
                +listOfMovies(movie.image, movie.name, movie.rating, movie.quality, movie.year)
            else
                strong.error #{no_data}